[Unit]
Description=Matrix Dimension

[Service]
ExecStart=/opt/matrix-dimension/build/app/index.js
Restart=always
User=matrix
Group=matrix
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/matrix-dimension/

[Install]
WantedBy=multi-user.target
